<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
  <title>Admin - Users</title>
</head>
<body class="font-montserrat dark:bg-gray-800">

    <%- include('partials/_adminNav', { user: user }) %>
    <button onclick="toggleDarkMode()" class="p-2 m-2 bg-blue-500 dark:bg-gray-500 rounded-lg">
      <img src="/images/dark.svg" class="w-8 invert" alt="">
    </button>

      <div class="grid grid-cols-1">
        <div class="text-center p-4 m-4 dark:bg-gray-700 md:text-xl dark:text-slate-100 bg-slate-100 shadow-md rounded-md">
          <h1 class="text-2xl md:text-3xl dark:text-slate-100 text-left mb-4">
            User creation panel
          </h1>
          <form action="/admin_dashboard/create_user" autocomplete="off" method="post">
            <input type="text" name="username" placeholder="Username" class="block dark:bg-gray-600 p-2 mb-4 mx-auto" required />
            <input type="password" name="password" placeholder="Password" class="block dark:bg-gray-600 p-2 mb-4 mx-auto" required />
            <input type="email" name="email" placeholder="Email" class="block dark:bg-gray-600 p-2 mb-4 mx-auto" required>
            <input type="text" name="firstName" placeholder="First name" class="block dark:bg-gray-600 p-2 mb-4 mx-auto" required>
            <input type="text" name="lastName" placeholder="Last name" class="block dark:bg-gray-600 p-2 mb-4 mx-auto" required>
            <select name="role" class="block dark:bg-gray-600 p-2 mb-4 mx-auto dark:text-slate-100 bg-white" required>
              <option value="project manager">Project Manager</option>
              <option value="employee">Employee</option>
            </select>
            <button class="bg-blue-500 dark:bg-blue-800 text-slate-100 p-2 rounded-md mb-2" type="submit">
              Create user
            </button>
          </form>
        </div>
  
        <div class="bg-slate-100 dark:bg-gray-700 p-4 m-4 text-xl">
          <h2 class="text-2xl md:text-3xl dark:text-slate-100 mb-12">
            Current users
          </h2>

          
          <div class="overflow-x-auto text-sm md:text-base relative">
            <table class="table-auto w-full dark:bg-gray-800 dark:text-slate-100 bg-slate-200">
                <thead class="mb-4">
                    <tr class="bg-blue-400 dark:bg-gray-800 text-slate-100">
                        <th class="p-1 md:p-2">Username</th>
                        <th>Role</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                    <tr class="odd:bg-slate-300 dark:odd:bg-gray-600 h-16">
                        <td class="text-center md:w-1/4"><%= user.username %></td>
                        <td class="text-center md:w-1/4"><%= user.role %></td>
                        <td class="text-center md:w-1/4">
                            <form action="/admin_dashboard/delete_user" method="post">
                                <input type="hidden" name="username" value="<%= user.username %>">
                                <button
                                    class="p-2 hover:bg-red-500 rounded-md transition-all duration-150 ease-in-out">
                                    <img src="/images/trash.svg" alt="trash" class="w-4 md:w-8">
                                </button>
                            </form>
                        </td>
                        <td class="text-center md:w-1/4">
                            <form action="/admin_dashboard/edit_user" method="get">
                                <input type="hidden" name="username" value="<%= user.username %>">
                                <button
                                    class="p-2 hover:bg-blue-500 rounded-md transition-all duration-150 ease-in-out">
                                    <img src="/images/edit.svg" alt="edit" class="w-4 md:w-8">
                                </button>
                            </form>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        
      

            

        </div>
  
      </div>
    
    
  
  
    
  
  
  

</body>

</html>