<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - <%= project.project_name %> Overview</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="font-montserrat dark:bg-gray-800">
    
    <%- include('partials/_adminNav', { user: user }); %>
    <button onclick="toggleDarkMode()" class="p-2 m-2 bg-blue-500 dark:bg-gray-500 rounded-lg">
        <img src="/images/dark.svg" class="w-8 invert" alt="">
      </button>

    <div class="bg-slate-100 w-full p-8 text-gray-800 dark:bg-gray-700 dark:text-slate-100">
        <h1 class="mb-4 text-3xl md:text-5xl font-medium">
            <%= project.project_name %>
        </h1>
        <p class="mb-4 text-xl md:text-3xl">
            <%= project.project_description %>
        </p>

        <p class="mb-4 text-xl md:text-3xl">
            Project manager: <%= projectManager.first_name %> <%= projectManager.last_name %>
        </p>

        <div class="overflow-auto relative mb-12">
            <table class="table-auto w-full bg-slate-200 dark:bg-gray-800">
                <thead class="mb-4">
                    <tr class="bg-blue-400 dark:bg-gray-800 text-slate-100">
                      <th class="p-2">Assigned users</th>
                      <th class="p-2">Full name</th>
                    </tr>
                </thead>
                <tbody>
                    <% employees.forEach(employee => { %>
                        <tr class="odd:bg-slate-300 dark:odd:bg-gray-600 h-16">
                            <td class="p-4 text-center">
                                <%= employee.username %>
                            </td>
                            <td class="p-4 text-center">
                                <%= employee.first_name %> <%= employee.last_name %>
                            </td>
                        </tr>
                   <% }); %>
                </tbody>
            </table>
        </div>
       
        <div class="text-xl md:text-3xl">
            <div class="mb-4">
                <h1>Start date: <span id="startDate"><%= project.start_date %></span></h1>
            </div>
            <div class="mb-4">
                <h1>End date: <span id="endDate"><%= project.end_date %></span></h1>
            </div>
        </div>

        <h1 class="hidden md:block text-2xl md:text-3xl my-6 md:my-12 font-medium">
            Tasks
        </h1>


        <form action="/admin_dashboard/create_task" autocomplete="off" method="post" class="my-8 text-xl">
            <input type="hidden" value="<%= project.project_name %>" name="projectName">
            <label for="taskName" class="text-gray-800 dark:text-slate-100 font-medium text-2xl mb-4">Task name</label>
            <input type="text" class="block p-2 mb-4 dark:bg-gray-600 text-xl bg-white" name="taskName">
            <label for="taskDescription" class="text-gray-800 dark:text-slate-100 font-medium mb-4 text-2xl">Task description</label>
            <textarea name="taskDescription" rows="4" class="mb-4 w-full dark:bg-gray-600 dark:border-0 text-xl p-2 border rounded-md focus:outline-none focus:ring focus:border-blue-500"></textarea>
            <label for="assignedUser" class="text-gray-800 dark:text-slate-100 font-medium mb-4 text-2xl">Assign To Employee</label>
            <select name="assignedUser" class="block dark:bg-gray-600 bg-white mb-4 p-2">
                <% employees.forEach(employee => { %>
                    <option value="<%= employee.username %>">
                        <%= employee.username %>
                    </option>
                <% }); %>
            </select>
            <label for="dueDate" class="mb-4 text-gray-800 dark:text-slate-100 text-2xl font-medium">Due date</label>
            <input type="date" class="block mb-8 dark:bg-gray-600 text-xl" name="dueDate">
            <button type="submit" class="p-2 bg-blue-600 dark:bg-blue-800 rounded-md text-slate-100 text-2xl">Create task</button>            
        </form>


        <h1 class="text-2xl my-12 font-medium">
            <%= project.project_name %> Tasks
        </h1> 
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <% tasks.forEach(task => { %>
                <div class="p-4 bg-blue-500 dark:bg-blue-900 text-gray-50 text-xl rounded-md drop-shadow-xl">
                    <h1 class="text-2xl font-medium mb-4"> <%= task.task_name %> </h1>
                    <h1 class="mb-4"> <%= task.description %> </h1>
                    <h1 class="mb-4"> Status: <%= task.status %> </h1>
                    <% const assignedEmployee = employees.find(employee => employee.user_id === task.assigned_to); %>
                    <h1 class="mb-4"> Assigned to: <strong><%= assignedEmployee.first_name + " " + assignedEmployee.last_name  %></strong> </h1>
                    <h1 class="mb-4">Due: <span class="taskEndDate"><%= task.due_date %></span></h1>
                    <h1>Hours worked on task: <%= task.hours_worked %> </h1>
                </div>
            <% }); %>
        </div>
    </div>
    <script>
        // formatting the dates so it's prettier
        const startDateElement = document.getElementById('startDate');
        const endDateElement = document.getElementById('endDate');
        const taskEndDateElements = document.getElementsByClassName('taskEndDate');
    
        const formatDate = (rawDate) => {
            const date = new Date(rawDate);
            const options = { year: 'numeric', month: 'long', day: 'numeric' };
            return date.toLocaleDateString(undefined, options);
        };
    
        startDateElement.textContent = formatDate(startDateElement.textContent);
        endDateElement.textContent = formatDate(endDateElement.textContent);
        for(taskEndDateElement of taskEndDateElements) {
            taskEndDateElement.textContent = formatDate(taskEndDateElement.textContent);
        }
    </script>
</body>
</html>