<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Admin - Projects</title>
</head>
<body class="font-montserrat dark:bg-gray-800">
    
    <%- include('partials/_adminNav', { user: user }) %>
    <button onclick="toggleDarkMode()" class="p-2 m-2 bg-blue-500 dark:bg-gray-500 rounded-lg">
      <img src="/images/dark.svg" class="w-8 invert" alt="">
    </button>

    <div>
    <div class=" p-4 mx-4 mb-8 mt-4 text-xl bg-slate-100 dark:text-slate-100  dark:bg-gray-700 shadow-md rounded-md">
        <h1 class="text-3xl text-left mb-8">
            Project creation panel
        </h1>
      <form action="/admin_dashboard/create_project" autocomplete="off" method="post">
        <label for="projectName" class="block font-medium mb-2 ">Project Name</label>
        <input type="text" name="projectName" class="block p-2 mb-4 dark:bg-gray-600" required />
        <label for="projectDescription" class="block font-medium mb-2">Project Description</label>
        <textarea id="projectDescription" required name="projectDescription" rows="4" class="w-full dark:bg-gray-600 dark:border-0 p-2 border rounded-md focus:outline-none focus:ring focus:border-blue-500"></textarea>
        <fieldset class="mb-4">
            <legend class=" font-medium mb-4">
              Assign Employees
            </legend>
            <ul class="px-6 mb-4">
              <% employees.forEach(employee => { %>
                  <li class="mb-2">
                      <label class="flex items-center">
                          <input type="checkbox" class="form-checkbox text-blue-500" name="assignedUsers" value="<%= employee.username %>">
                          <span class="mx-2 ">
                            <%= employee.username %>
                          </span>
                      </label>
                  </li>
              <% }); %>
          </ul>
        </fieldset>

        <label for="assignedProjectManager" class="block dark:border-0 font-medium mb-4">
          Assign Project Manager
        </label>
        <select name="assignedProjectManager" class="block mx-6 p-2 mb-4 dark:bg-gray-600 bg-white" required>
          <% projectManagers.forEach(projectManager => { %>
            <option value="<%= projectManager.username %>">
              <%= projectManager.username %>
            </option>
          <% }); %>
        </select>

        <label for="startDate" class="block font-medium mb-2">Start Date</label>
        <input type="date" class="block mb-4 dark:bg-gray-600" name="startDate" >

        <label for="endDate" class="block font-medium mb-2">End Date</label>
        <input type="date" class="block mb-4 dark:bg-gray-600" name="endDate" >

        <button class="bg-blue-500 dark:bg-blue-800 text-slate-100 p-2 rounded-md mb-2" type="submit">
          Create project
        </button>
      </form>
    </div>

    <div class="bg-slate-100 p-4 m-4 dark:bg-gray-700 dark:text-slate-100 text-slate-800 text-xl">
      <h2 class="text-3xl mb-12">
        Ongoing projects
      </h2>

      
      <div class="overflow-auto relative">
        <table class="table-auto font-light w-full bg-slate-200 dark:bg-gray-800">
          <thead class="mb-4">
            <tr class="bg-blue-400 dark:bg-gray-800 text-slate-100">
              <th class="p-2">Projects</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% projects.forEach(project => { %>
              <tr class="odd:bg-slate-300 dark:odd:bg-gray-600 h-16">
                <td class="text-center">
                  <%= project.project_name %>
                </td>
                <td>
                  <form action="/admin_dashboard/view_project" >
                    <input type="hidden" name="projectName" value="<%= project.project_name %>">
                    <button>
                      <img src="/images/view.svg" alt="view" class="w-8 dark:invert">
                    </button>
                  </form>
                  
                </td>
              </tr>
            <% }); %>
          </tbody>
          
        </table>
      </div>
    </div>
  </div>
</body>
</html>