<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evidento - <%= project.project_name %> Overview</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="font-montserrat dark:bg-gray-800">

    
    <%- include('partials/_employeeNav', { user: user }); %>
    <button onclick="toggleDarkMode()" class="p-2 m-2 bg-blue-500 dark:bg-gray-500 rounded-lg">
        <img src="/images/dark.svg" class="w-8 invert" alt="">
      </button>

    <div class="bg-slate-100 w-full p-8 text-gray-800 dark:bg-gray-800 dark:text-slate-100">
        <h1 class="mb-4 text-3xl md:text-5xl font-medium">
            <%= project.project_name %>
        </h1>
        <p class="mb-4 text-xl md:text-3xl">
            <%= project.project_description %>
        </p>

        <div class="text-xl md:text-3xl">
            <div class="mb-4">
                <h1>Start date: <span id="startDate"><%= project.start_date %></span></h1>
            </div>
            <div class="mb-4">
                <h1>End date: <span id="endDate"><%= project.end_date %></span></h1>
            </div>
        </div>
        


        <h1 class="text-2xl md:text-3xl my-6 md:my-12 font-medium">
            My Tasks
        </h1> 
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <% tasks.forEach(task => { %>
                <div class="p-4 bg-blue-500 text-gray-50 dark:bg-blue-800 text-xl rounded-md drop-shadow-xl">
                    <h1 class="text-2xl font-medium mb-4"> <%= task.task_name %> </h1>
                    <h1 class="mb-4"> <%= task.description %> </h1>
                    <h1 class="mb-4"> Status: <%= task.status %> </h1>
                    <% const assignedEmployee = employees.find(employee => employee.user_id === task.assigned_to); %>
                    <h1 class="mb-4"> Assigned to: <strong><%= assignedEmployee.first_name + " " + assignedEmployee.last_name  %></strong> </h1>
                    <h1 class="mb-4">Due: <span class="taskEndDate"><%= task.due_date %></span> </h1>
                    <h1 class="mb-4">Hours worked on task: <%= task.hours_worked %></h1>
                    <form action="/employee_dashboard/update_task" method="get">
                        <input type="hidden" name="projectName" value="<%= project.project_name %>">
                        <input type="hidden" name="taskId" value="<%= task.task_id %>">
                        <button type="submit" class="p-3 bg-blue-600 rounded-md transition-all duration-150 hover:bg-blue-700 ease-in-out">
                            Update task
                        </button>
                    </form>
                </div>
            <% }); %>
        </div>
    </div>

    <script>
        // formatting the dates so it's prettier
        const startDateElement = document.getElementById('startDate');
        const endDateElement = document.getElementById('endDate');
        const taskEndDateElements = document.getElementsByClassName('taskEndDate');
    
        const formatDate = (rawDate) => {
            const date = new Date(rawDate);
            const options = { year: 'numeric', month: 'long', day: 'numeric' };
            return date.toLocaleDateString(undefined, options);
        };
    
        startDateElement.textContent = formatDate(startDateElement.textContent);
        endDateElement.textContent = formatDate(endDateElement.textContent);
        for(taskEndDateElement of taskEndDateElements) {
            taskEndDateElement.textContent = formatDate(taskEndDateElement.textContent);
        }
    </script>
    
</body>
</html>